.about-section-hidden {
  position: absolute;
  height: 98vh;
  width: 100%;
  top: 10px;
  left: 0px;
  width: 95vw;
  animation: 0.4s forwards 0.01s ease slide-to-top1;
  /* background: linear-gradient(to right, hsl(98, 53%, 42%), hsl(204 100% 59%)); */
  background-color: #f9f7f1;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  text-align: center;
  color: black;
}

.about-section {
  position: absolute;
  width: 100vw;
  top: 10px;
  left: 0px;
  animation: 0.5s forwards 0.01s ease slide-from-top1;
  /* background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%)); */
  background-color: #f9f7f1;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 100;
  text-align: center;
  opacity: 0;
  color: black;
}

@keyframes slide-from-top1 {
  from {
    height: 0vh;
    opacity: 0%;
  }
  to {
    height: 98vh;
    opacity: 100%;
  }
}

@keyframes slide-to-top1 {
  from {
    opacity: 100%;
  }
  to {
    height: 0;
    opacity: 0%;
    z-index: -99;
  }
}

#cards-container img {
  width: 7vw;
  position: absolute;
  top: 80%;
  left: 5%;
  border-radius: 10px;
  filter: grayscale(1);
}


#neps{
  width: 18vw;
  filter: grayscale(1);
}


.heading {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 70px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 72px;
  margin-top: 15px;
  margin-bottom: 20px;
}

  /* margin-top: 0;
  margin-bottom: 20px;
}
*/

.viPlay{
  width: 25vw;
  filter: grayscale(1);
}
.head {
  text-align: center;
  position: relative;
  
} 

.subhead {
  text-transform: uppercase;
  border-bottom: 2px solid #2f2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.subhead img {
  width: 2vw;
  filter: grayscale(.6);
}

.content {
  font-size: 0;
  line-height: 0;
  word-spacing: -0.31em;
  display: inline-block;
  margin: 30px 2% 0 2%;
}

.collumn p{
  text-align: justify;
}
.collumn {
  font-size: 14px;
  line-height: 20px;
  width: 17.5%;
  display: inline-block;
  padding: 0 1% 0 1%;
  vertical-align: top;
  transition: all 0.7s;
  margin-bottom: 50px;

}


.collumn + .collumn {
  border-left: 1px solid #2f2f2f;
}
.collumn .headline {
  text-align: center;
  line-height: normal;
  font-family: "Playfair Display", serif;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl1 {
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl2 {
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl2:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl2:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 13px;
  display: block;
  margin: 0 auto;
}

.collumn .headline.hl3 {
  font-weight: 400;
  font-style: italic;
  font-size: 36px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl4 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl4:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl4:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
}

.collumn .headline.hl5 {
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
  font-style: italic;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl6 {
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl6:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl6:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl7 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  display: block;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl8 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl9 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl10 {
  font-weight: 700;
  font-size: 10px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}


.collumn table{
  border-collapse: collapse;
  margin: auto;
}

#middleRow{
  background-color: gray;
  font-size: large;
  font-weight: 900;
  border-radius: 20px;
  color: #f9f7f1;
}

#jackAboutSection{
  width: 10vw;
  min-width: 150px;
  margin: 20px;
  filter: grayscale(1);
}