.hover-section-hidden {
  position: absolute;
  height: 98vh;
  width: 100%;
  top: 10px;
  left: 0px;
  display: flex;
  width: 95vw;
  animation: 0.4s forwards 0.01s ease slide-to-right;
  background: linear-gradient(to right, hsl(98, 53%, 42%), hsl(204 100% 59%));
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
}

.hover-section {
  position: absolute;
  height: 98vh;
  width: 0vw;
  top: 10px;
  left: 0px;
  animation: 0.5s forwards 0.01s ease slide-from-right1;
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 10;
  display: flex;
}

@keyframes slide-from-right1 {
  from {
    width: 0%;
    opacity: 0%;
  }
  to {
    width: 100%;
    opacity: 100%;
  }
}

@keyframes slide-to-right {
  from {
    opacity: 100%;
  }
  to {
    width: 0%;
    opacity: 0%;
    z-index: -99;
    display: none;
    visibility: hidden;

  }
}

.contactLeft {
  width: 30%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactRight {
  display: block;
  text-align: center;
  width: 70%;
  color: #000000;
  height: 90vh;
}
.closeButton {
  background: none;
  border: 0;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  top: 3%;
  left: 98%;
  overflow: hidden;
  position: absolute;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  width: 50px;
  height: 30px;
  z-index: 120;
}

.closeButton::before,
.closeButton::after {
  background-color: rgb(0, 0, 0);
  content: "";
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 141.4214px;
  z-index: -1;
}

.closeButton::before {
  top: 0;
  transform: rotate(45deg);
}
.closeButton::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.closeButton:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.69);
  border-radius: 3px;
}

.closeButton:hover::before,
.closeButton:hover::after {
  height: 50px;
  transform: rotate(0deg);
}

.contactLeft img {
  width: 15vw;
  border-radius: 7px;
  filter: grayscale(100);
  transition: 1s;
  z-index: 1;
  transform: translateX(625px) rotate(30deg);
}

.socials img {
  width: 5vw;
  padding: 25px;
  filter: brightness(0);
}

.contactRight h1 {
  margin-top: 22.5%;
  font-family: "Inter";
  font-size: 60px;
  line-height: 80px;
  font-weight: 900;
  font-weight: 900;
}

.contactRight p {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  line-height: 50px;
}
