footer {
  background: #000;
  font-family: "Play", sans-serif;
  text-align: center;
  width: 100%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

footer ul li {
  display: inline-block;
  margin: 0px 30px;
  transition: .4s ease-out;
}


footer li:hover{
    color: rgba(240, 248, 255, 0.91);
    cursor: pointer;
}
.name{
    padding: 1%;
    display: inline-flex;
}

.name img{
    filter: grayscale(1);
    width: 35px;
}