.locked-section-alt {
  width: 100vw;
  height: 100vh;
  background-color: black;

  /* Position */
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  animation: 1.2s forwards 1.2s fly-out3;
}
.locked-section {
  /* looks*/
  width: 100vw;
  height: 100vh;
  background-color: black;
  /* Position */
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

#jack-one {
  /* size */
  width: 10vw;
  min-width: 140px;
  /* looks */
  background: rgba(255, 255, 255, 0.14);
  border-radius: 0.75vw;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.6px);
  -webkit-backdrop-filter: blur(0.6px);
  border: 1px solid rgba(255, 255, 255, 1);
}

.jack-image {
  /* position */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  transition: all 0.5s ease-out;
  animation: fly-out1 2.0s linear forwards;
  cursor: pointer;
}

.jack-image2 {
  /* position */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  rotate: 15deg;
  transition: all 0.6s ease-out;
  animation: fly-out1 2.25s forwards;
}

.jack-image3 {
  /* position */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  rotate: -30deg;
  transition: all 0.7s ease-out;
  animation: fly-out1 1.65s forwards;
}

.jack-image4 {
  /* position */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: all 0.8s ease-out;
  animation: fly-out1 1s forwards;
  rotate: 25deg;
}

.spiral-image {
  height: 100vh;
  min-width: 145px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: 3s forwards 0s appear;
  background-color: transparent;
}
.spiral-image-alt {
  display: block;
  visibility: hidden;
}

.spiral-image-alt {
  visibility: hidden;
  height: 0vh;
  display: block;
}

.jack-image:hover {
  rotate: 10deg;
}

.jack-image:hover ~ .jack-image2 {
  cursor: s-resize;
  rotate: -5deg;
}

.jack-image:hover ~ .jack-image3 {
  rotate: -20deg;
}

.jack-image:hover ~ .jack-image4 {
  rotate: -35deg;
}

.jack-image:hover ~ .jack-image5 {
  width: 0vh;
}

.jack-image-final {
  /* position */
  position: absolute;
  top: 50%;
  left: 20%;
  transition: 1s;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: 2s forwards 1s fall-down;
}
.jack-image-final2 {
  /* position */
  position: absolute;
  top: 50%;
  left: 40%;
  transition: 1s;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.jack-image-final3 {
  /* position */
  position: absolute;
  top: 50%;
  left: 60%;
  transition: 1s;
  transform: translate(-50%, -50%);
}
.jack-image-final4 {
  /* position */
  position: absolute;
  top: 50%;
  left: 80%;
  transition: 1s;
  transform: translate(-50%, -50%);
}

@keyframes fly-out3 {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    display: none;
    visibility: hidden;
  }
}

@keyframes fly-out4 {
  0% {
    height: 100vh;
    top: 50%;
  }

  100% {
    height: 10vh;
    top: 70%;
  }
}

@keyframes fly-out1 {
  0% {
    margin-top: 100%;
  }

  100% {
    margin-top: 0%;
  }
}

@keyframes appear {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

#moving-text {
  color: aliceblue;
  position: absolute;
  cursor: alias;
  opacity: 0;
}
