* {
  margin: 0%;
  padding: 0%;
}

body {
  background: #fffcfc;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  animation: appear 3s forwards;
}
html {
  scroll-behavior: smooth;
}

@keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: inherit;
  color: inherit;
  cursor: inherit;
}

*::-webkit-scrollbar {
  width: 0px;
}

.nav-bar {
  transition: 0.5s;
  /* background-color: rgb(255, 255, 255); */
  color: #000;
  background-color: transparent;
}
.nav-bar-txt {
  background-color: #ffffff;
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 3%;
  transition: 1s;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(1, 1, 1, 0.4);
}
ul {
  gap: 8px;
}
.nav-item {
  padding: 0.1em 1em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  border-radius: 15px;
  transition: all 0.6s ease 0s;
  cursor: pointer;
  outline: none;
}
.nav-item:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-2px);
}
.nav-item:active {
  transform: translateY(-1px);
}

.app-logo {
  width: 130px;
  cursor: pointer;
  margin-right: 50%;
}

.textONe {
  color: #330072;
  font-weight: 900;
  font-size: 120%;
}

footer {
  background: #000;
  text-align: center;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
  width: 100%;
  overflow-x: hidden;
}

/* footer */
footer ul li {
  display: inline-block;
  margin: 0px 30px;
  transition: 0.4s ease-out;
}

footer li:hover {
  color: rgba(240, 248, 255, 0.91);
  cursor: pointer;
}
.name {
  padding: 1%;
  display: inline-flex;
}

.name img {
  filter: grayscale(1);
  width: 35px;
}

/* footerEnd */

.gcont img {
  width: 75px;
  margin: 15% 5%;
  animation: 2s blink infinite;
  border-radius: 8px;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes blink {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}

/* .gcont {
  background-image: linear-gradient(
      230deg,
      rgba(93, 93, 93, 0.03) 0%,
      rgba(93, 93, 93, 0.03) 50%,
      rgba(78, 78, 78, 0.03) 50%,
      rgba(78, 78, 78, 0.03) 100%
    ),
    linear-gradient(
      107deg,
      rgba(55, 55, 55, 0.01) 0%,
      rgba(55, 55, 55, 0.01) 50%,
      rgba(170, 170, 170, 0.01) 50%,
      rgba(170, 170, 170, 0.01) 100%
    ),
    linear-gradient(
      278deg,
      rgba(16, 16, 16, 0.03) 0%,
      rgba(16, 16, 16, 0.03) 50%,
      rgba(24, 24, 24, 0.03) 50%,
      rgba(24, 24, 24, 0.03) 100%
    ),
    linear-gradient(
      205deg,
      rgba(116, 116, 116, 0.03) 0%,
      rgba(116, 116, 116, 0.03) 50%,
      rgba(0, 0, 0, 0.03) 50%,
      rgba(0, 0, 0, 0.03) 100%
    ),
    linear-gradient(
      150deg,
      rgba(5, 5, 5, 0.03) 0%,
      rgba(5, 5, 5, 0.03) 50%,
      rgba(80, 80, 80, 0.03) 50%,
      rgba(80, 80, 80, 0.03) 100%
    ),
    linear-gradient(
      198deg,
      rgba(231, 231, 231, 0.03) 0%,
      rgba(231, 231, 231, 0.03) 50%,
      rgba(26, 26, 26, 0.03) 50%,
      rgba(26, 26, 26, 0.03) 100%
    ),
    linear-gradient(
      278deg,
      rgba(89, 89, 89, 0.03) 0%,
      rgba(89, 89, 89, 0.03) 50%,
      rgba(26, 26, 26, 0.03) 50%,
      rgba(26, 26, 26, 0.03) 100%
    ),
    linear-gradient(
      217deg,
      rgba(28, 28, 28, 0.03) 0%,
      rgba(28, 28, 28, 0.03) 50%,
      rgba(202, 202, 202, 0.03) 50%,
      rgba(202, 202, 202, 0.03) 100%
    ),
    linear-gradient(
      129deg,
      rgba(23, 23, 23, 0.03) 0%,
      rgba(23, 23, 23, 0.03) 50%,
      rgba(244, 244, 244, 0.03) 50%,
      rgba(244, 244, 244, 0.03) 100%
    ),
    linear-gradient(135deg, rgb(1, 132, 255), rgb(198, 5, 91));
} */

/* .projects .col {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 30vh;
  border-radius: 10px;
  transform: translate() scale();
}

.projects .col:hover {
  background-color: #4d5154;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 15px 20px #4d51546f;
  z-index: 10;
  transform: scale(1.05);
} */

.card {
  margin: 70px 10px;
  transition: 0.7s;
  background: #fafaf5;
  border: 2px solid #e6e6e6;
  border-radius: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  font-size: smaller;
  height: 285px;
  overflow: hidden;
}
.card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card:hover {
  scale: 1.025;
}

.colored {
  background-color: #212529;
  /* background-image: url('https://images.unsplash.com/photo-1509095660908-d9b1e7ffec62?q=80&w=2665&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
  background-size: contain;
}

.stp-image {
  width: 10%;
  margin: 20px 10px;
  filter: invert(1) brightness(0);
}

.dq {
  padding-top: 200px;
  padding-bottom: 400px;
}

.Laurier-exp {
  text-align: center;
  color: #fff;
  /* Produce */
  font-family: "Newsreader";
  font-weight: 200;
  font-size: 64px;
  font-style: italic;
 
  /* identical to box height, or 77px */

}
.Laurier-exp-image {
  width: 20%;
  filter: brightness(0) invert(1);
}
