* {
  margin: 0%;
  padding: 0%;
}

body {
  background: #e6e6e6;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  animation: appear 3s forwards;
}

@keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: inherit;
  color: inherit;
  cursor: inherit;
}

*::-webkit-scrollbar {
  width: 0px;
}

.nav-bar {
  transition: 0.5s;
  /* background-color: rgb(255, 255, 255); */
  color: #000;
  background-color: transparent;
}
.nav-bar-txt {
  background-color: #ffffff;
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 3%;
  transition: 1s;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(1, 1, 1, 0.4);
}
ul {
  gap: 8px;
}
.nav-item {
  padding: 0.1em 1em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  border-radius: 15px;
  transition: all 0.6s ease 0s;
  cursor: pointer;
  outline: none;
}
.nav-item:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-2px);
}
.nav-item:active {
  transform: translateY(-1px);
}

.app-logo {
  width: 130px;
  cursor: pointer;
  margin-right: 50%;
}

.textONe {
  color: #330072;
  font-weight: 900;
  font-size: 120%;
}

footer {
  background: #000;
  text-align: center;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
  width: 100%;
  overflow-x: hidden;
}

/* footer */
footer ul li {
  display: inline-block;
  margin: 0px 30px;
  transition: 0.4s ease-out;
}

footer li:hover {
  color: rgba(240, 248, 255, 0.91);
  cursor: pointer;
}
.name {
  padding: 1%;
  display: inline-flex;
}

.name img {
  filter: grayscale(1);
  width: 35px;
}

/* footerEnd */

.col img {
  width: 75px;
  margin: 15% 5%;
  animation: 2s blink infinite;
  border-radius: 8px;
}

.col img:hover {
  transform: scale(1.04) rotate(1deg);
}

@keyframes blink {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}



.projects .col{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 30vh;
  border-radius: 10px;
}

.projects .col:hover{
  background-color: #4d5154;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 15px 20px #4d51546f;
  z-index: 10;
  transform: scale(1.05);
}