@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0%;
  padding: 0%;
}
body {
  /* background-color: #242424; */
  background-color: black;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.4rem;
  overflow-x: hidden;
}

.main-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.main-container-hidden {
  display: none;
  visibility: hidden;
}

section {
  width: 90vw;
  margin-left: 5vw;
}

/* HEADER CSS */
.header {
  width: 100%;
  font-size: 1vw;
  z-index: 10;
  height: 8vh;
  background-color: #242424;
  /* position */
  position: fixed;
  top: 0;
  /* element position */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fefefe;
  /* box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
  animation: 1.25s forwards 2.75s ease slide-from-top;

  opacity: 0%;
}
@keyframes slide-from-top {
  from {
    transform: translateY(-10vh);
  }
  to {
    transform: translateY(0);
    opacity: 100%;
  }
}

.header ul {
  padding-right: 6vw;
  text-decoration: none;
  list-style: none;
  display: flex;
}
.header li {
  line-height: 1.75vw;
  padding-right: 1rem;
  transition: 0.5s;
}
.header li:hover {
  scale: 1.08;
  cursor: pointer;
  text-shadow: #FC0 1px 0 10px;
}

#app-logo {
  /* main logo css */
  width: 6vw;
  min-width: 100px;
  padding-left: 6vw;
  filter: brightness(0) invert(1);
}

#contact-button {
  text-align: center;
  background-color: #c6ff7d;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  color: black;
  font-weight: 200;
  opacity: 0%;
  animation: 4s forwards 3s ease slide-from-right;
  transition: 1s;
  /* box-shadow: 0 2px 5px #c6ff7d; */
}


@keyframes slide-from-right {
  from {
    transform: translateX(5vw);
  }
  to {
    transform: translateX(0vw);
    opacity: 100%;
  }
}

.hamburger {
  visibility: hidden;
  display: none;
}

/*  */
/* Section Elemetnt */
/*  */
#class-section-one {
  align-items: center;
  color: #fefefe;
}

/* HEADING ONe */
#heading-one {
  animation: 1.75s forwards 2.25s ease slide-from-left;
  opacity: 0%;
}
.text-style-one {
  margin-top: 25vh;
  font-size: 75px;
  font-weight: 200;
  line-height: 95px;
}
/* intro text one */
#intro-text-one {
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1.8rem;
  text-align: justify;
  margin-top: 12.5vh;
  animation: 1.75s forwards 2.25s ease slide-from-right;
  opacity: 0%;
  margin-left: 3vw;
  margin-right: 3vw;
}
/* key */
@keyframes slide-from-left {
  from {
    transform: translateX(-10vw);
  }
  to {
    transform: translateX(0vw);
    opacity: 100%;
  }
}

.flashy-text {
  color: #c6ff7d;
  font-size: larger;
  animation: 20s infinite color-changing-text;
  font-weight: 300;
}
@keyframes color-changing-text {
  0% {
    color: #c6ff7d;
  }
  20% {
    color: #ca2e55;
  }
  40% {
    color: #5cc8ff;
  }
  60% {
    color: #d0aba0;
  }
  80% {
    color: #ff9f1c;
  }
  100% {
    color: #c6ff7d;
  }
}

/* 
logo wrapper
*/
.logo-wrapper {
  width: 80%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5rem;
}
.features-logo {
  width: 3.25vw;
  min-width: 35px;
  filter: brightness(0) invert(1);
  opacity: 0%;
}

#feature-one {
  animation: 0.75s forwards 3.3s ease-in slide-up;
}
#feature-two {
  animation: 0.95s forwards 3.3s ease-in slide-up;
}
#feature-three {
  animation: 1.15s forwards 3.3s ease-in slide-up;
}
#feature-four {
  animation: 1.35s forwards 3.3s ease-in slide-up;
}
#feature-five {
  animation: 1.45s forwards 3.3s ease-in slide-up;
}
#feature-six {
  animation: 2.05s forwards 3.3s ease-in slide-up;
}
@keyframes slide-up {
  from {
    transform: translateY(10rem);
  }
  to {
    transform: translateY(0rem);
    opacity: 100%;
  }
}



@media screen and (max-width: 800px) {
  ul {
    display: none;
    visibility: hidden;
  }

  .hamburger {
    visibility: visible;
    display: inline;
  }

  .text-style-one {
    margin-top: 25vh;
    margin-bottom: 35vh;
    font-size: 58px;
    font-weight: 200;
    line-height: 60px;
  }
}
