
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');


*{
    margin: 0%;
    font-family: 'Lato', sans-serif;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  body{
    background-color: #ffffff;
    overflow-x:hidden 
  }


  #viewport{
    height: 95vh;
}

.viewport-active{
    filter: blur(0rem);
}

.viewport-hovered{
    filter: blur(.2rem);
}