.nav-bar {
    top: 0;
    width: 100vw;
    height: 5vh;
    font-size: 1.25vh;
    background-color: #ffffff;
    color: rgb(0, 18, 34);
    position: fixed;
    opacity: 100;
    transition: all .7s ease-out;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.6px);
    -webkit-backdrop-filter: blur(0.6px);
    border: 1px solid rgba(255, 255, 255, 1);
    animation: nav-bar-appear 3s forwards normal;
    z-index: 10;
    padding-top: 1vh;
}

.nav-bar-txt{
    top: 0;
    width: 100vw;
    height: 4vh;
    font-size:60%;
    background-color: #262626;
    color: rgb(255, 255, 255);
    position: fixed;
    opacity: 100;
    transition: all .7s ease-out;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.6px);
    -webkit-backdrop-filter: blur(0.6px);
    border: 1px solid rgba(255, 255, 255, 1);
    animation: nav-bar-appear 3s forwards normal;
    z-index: 10;
}

.header-visible-section {
    width: 98vw;
    height: 4vh;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

#top-menu {
    display: inline-flex;
    justify-content: center;
    margin-right: 3vw;
}

#top-menu-item {
    font-size: 1.5vh;
    margin: 5px;
    transition: .6s;

}

#top-menu-item:hover {
    scale: 1.1;
    cursor: pointer;
    transition: .6s;
}

li {
    list-style-type: none;
    margin-right: 1vw;
    
}

.heading1{
    padding-left: 4vh;
    font-style: italic;
    transition: all .7s ease-out; 
    
   }
   

   
  
   #header:hover{
    scale: 1.05;
    cursor: pointer;
   }
  