.resume-section{
     /* Looks */
     width: 100vw;
     height: 92vh;
     background: rgba(122, 115, 115, 0.586);
     border-radius: .75vw;
     backdrop-filter: blur(10px);
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 
     /* Position */
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.resume-section-alt{
   display: none;
   visibility: hidden;
}

.resume{
    width: 100vw;
    height: 100vh;
}