.main-container {
 width: 100%;
  /* to centre page on screen*/
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    13deg,
    rgba(220, 254, 219, 1) 0%,
    rgba(230, 204, 252, 1) 100%
  );
  font-family: "Montserrat", sans-serif;
    color:rgb(68, 66, 66);
}
body{
  margin: 0%;
  padding: 0%;
}

.display-3 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  left: -12.5px;
}
#name_first {
  top: 2.5px;
}
#name_last {
  top: -15px;
}

.title-container {
  background-color: black;
  color: aliceblue;
  position: relative;
  padding: 10px;
  display: flex;
  font-size: 10px;
  top: -100px;
  left:80%;
  display: inline;
}

.border-dark {
  width: 100%;
  height: 730px;
  position: relative;
  top: -700px;
  border: solid 10px;
}

img {
  border-radius: 50%;
  border: solid 2px;
  position: relative;
  width: 75px;
  left:330px;
  top: 603px;
}

.tile {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 2.5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2.3px);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(2.3px);
  padding: 0px 10px;

}
.into-text {
  position: relative;
  top: -100px;
  font-size: 11.5px;
  line-height: 12px;
  text-align: justify;
  padding: 10.5px;
  margin: 10px;
}

.content {
  position: relative;
  top: -100px;
  left: 3px;
  margin-bottom: 10px;
}

.col p{
    padding: 0%;
}
.col-7{
  margin: 0%;
}

.heading1{
    font-size: 14px;
    letter-spacing: 1px;
    border-bottom: 0.07142855em solid #333;
    position: relative;
    font-weight: bold;
}
.heading2{
    font-size: 10.5px;
    line-height: 11px;
}

.heading3{
  font-size: 11.5px;
  line-height: 12px;
  font-weight: bold;
  text-decoration: underline;
  position: relative;
  top: -8px;
}
.location{
  font-size: 10px;
  line-height: 12px;
  font-style: italic;
}
.list-item{
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 2.5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2.3px);
  border-radius: 5px;
  position: relative;
  top: -10px;
}

.list-item ul{
  list-style-type: circle;
  font-size: 10.0px;
  line-height: 10.25px;
  left: -20px;
  top: -12.5px;
  text-align: justify;
  position: relative;
  padding-bottom: 0%;

} 
.list-item li{
  margin-top: 2.5px;
} 
.skill{
  font-size: 12px;
  background-color: black;
  color: aliceblue;
}