
.second-container{

    width: 100vw;
    height: 96vh;
    /* Elements Position*/
    z-index: 1;
    /* Elements Position*/
   overflow: hidden;
   animation: 10s forwards 0s appear;

}
.second-container-alt{
  width: 98vw;
  opacity: 0%;
  z-index: -100;
  visibility: hidden;
}
.greeting-container,.center-text{
  width: 100vw;
  text-align: center;
}

.text-one{
  margin-top: 10vh;
  font-size: 10vw;
  font-style: italic;
}
#center-text{
margin: 10vw;
font-size: 2vh;
text-align: justify;
}
