
.second-container{
    width: 100vw;
    height: 96vh;
    /* Elements Position*/
    z-index: 1;
    /* Elements Position*/
   overflow: hidden;
   animation: 10s forwards 0s appear;

}
.second-container-alt{
  width: 98vw;
  opacity: 0%;
  z-index: -100;
  visibility: hidden;
}
.greeting-container,.center-text{
  width: 100vw;
  text-align: center;
}

.text-one {
  margin-top: 10vh;
  font-size: 120px;
  color: #092327;
  text-shadow: horizontal-offset vertical-offset blur color;
  /* text-shadow: 2px 4px 3px #00A9A5; */
  font-family: 'Sacramento', cursive;
  font-weight: 900;
}

#center-text {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vh;
  font-size: 19px;
  text-align: center;
  color: #071619;
  font-family: 'Permanent Marker', cursive;
}