/* 
section-two
*/

.section-two {
  margin-top: 12.5%;
  margin-bottom: 5%;
  height: 300px;
  display: flex;
  overflow: hidden;
}

@keyframes slide-from-right2 {
  from {
    transform: translateX(50rem);
  }
  to {
    transform: translateX(0rem);
    opacity: 100%;
  }
}

.section-two-left-hidden {
  display: none;
  visibility: hidden;
}

.scroll-div-hidden {
  display: none;
  visibility: hidden;
}

.scroll-div {
  visibility: visible;
  animation: 2s forwards 0.01s ease machinesAppear;
  opacity: 0;
}

@keyframes machinesAppear{
  from{
    opacity: 0%;
    transform: translateY(200px);
  }to{
    opacity: 100%;
    transform: translateY(0px);
  }
}
.section-two-left {
  width: 30%;
  background-color: #1a191d;
  z-index: 1;
  display: flex;
  text-align: center;
  align-items: center;
  padding-bottom: 50px;
  animation: 2s forwards 0.01s ease machinesAppear;
  opacity: 0;
}
#text-cncs {
  margin: 5%;
  line-height: 35px;
  font-size: 40px;
  font-weight: 400;
  color: #f0f0f0;
  text-align: center;
  font-style: italic;
  
}

#scrolling-div {
  width: 70%;
  height: auto;
  overflow: hidden;
  z-index: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #ffffff;
}



#content {
  white-space: nowrap;
  position: absolute;
}

.item {
  margin: 25px;
  width: auto;
  background-color: #f0f0f0;
  z-index: 0;
}

#image-dmg-mill {
  width: 300px;
  z-index: 0;
}

#image-dmg-lathe {
  width: 425px;
  z-index: 0;
}

#image-hplus {
  width: 240px;
}

#image-tue {
  width: 240px;
}

#image-fadal {
  width: 300px;
}
#image-tss {
  width: 305px;
}
