/* 
section-two
*/

.sectionsectionContainer-hidden {
  opacity: 0;
}

.sectionsectionContainer {
  margin-top: 10%;
  transform: rotate(-0.5deg);
  margin-bottom: 25%;
  animation: 2s forwards 0.01s ease machinesAppear;
  opacity: 0;
  font-family: Neue Montreal, sans-serif;
}

.section-two {
  height: 300px;
}

.border {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg)
    bottom;
  height: 30px;
}
.border-top {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg)
    bottom;
  height: 30px;
  transform: rotate(180deg);
}

@keyframes slide-from-right2 {
  from {
    transform: translateX(50rem);
  }
  to {
    transform: translateX(0rem);
    opacity: 100%;
  }
}

@keyframes machinesAppear {
  from {
    opacity: 0%;
    transform: translateY(200px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}
/* .section-two-left {
  width: 30%;
  background-color: #ffffff;
  z-index: 1;
  display: flex;
  text-align: center;
  align-items: center;
  padding-bottom: 50px;
  /* animation: 2s forwards 0.01s ease machinesAppear; */

#text-cncs {
  line-height: 35px;
  font-size: 40px;
  font-weight: 500;
  color: lightgray;
  text-shadow: 0px 0px 10px #f5f5f5dd;
  text-align: center;
  margin-bottom: 2%;
}

#scrolling-div {
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 0;
}

#content {
  display: flex;
  position: absolute;
  color: #f0f0f0;
}

.item {
  z-index: 0;
  margin-left: 40px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* background:rgb(255, 196, 0); */
  border-radius: 15px;
  display: grid;
  transition: all 0.3s ease-in-out;
  opacity: 60%;
}
.item:hover{
  background:rgb(0, 140, 255);
  box-shadow: 0 0 2.5px rgb(0, 140, 255), 0 0 15px rgb(0, 140, 255),
    0 0 25px rgb(0, 140, 255), 0 0 50px rgb(0, 140, 255);
  scale: 1.025;
  opacity: 100%;
  cursor: context-menu;
}

#content img {
  border-radius: 10px;
  filter: brightness(0.9);
}
#image-dmg-mill {
  width: 300px;
  z-index: 0;
}

#image-dmg-lathe {
  width: 425px;
  z-index: 0;
}

#image-hplus {
  width: 240px;
}

#image-tue {
  width: 240px;
}

#image-fadal {
  width: 300px;
}
#image-tss {
  width: 305px;
}

#about-section-text {
  font-size: 70px;
  color: #000000;
}

.machineName {
  --rem: 16;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.8;
  align-self: end;
  font-style: oblique;
}
.machineInfo {
  --rem: 16;
  font-size: 12px;
  opacity: 0.8;
  line-height: 16px;
  padding-top: 5px;
  font-weight: 300;
  text-align: justify;
  align-self: center;
}

.machineLink {
  --rem: 16;
  box-sizing: border-box;
  z-index: 1;
  display: inline-block;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 0.95;
  background: none;
  outline: none;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  margin-top: 30px;
  align-self: end;
}

.machineLink:hover {
  background: #e5e5e5;
  color: #000000;
}
