.flap-right{
    height: 95vh;
    width: 25vh;
    position: absolute; 
    top: 54%; 
    left: 40.5%; 
    transform: translate(-50%, -50%);
    z-index: 5;
}

.flap-left{

    background-color: aliceblue;
    height: 95vh;
    width: 25vh;
    position: absolute; 
    top: 54%; 
    left: 59.5%; 
    transform: translate(-50%, -50%);
    z-index: 5;
}

#flap{
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}