@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');


*{
  margin: 0%;
  transition: all .5s ease-out;
}


.main-container{
    margin-top: 6vh;
    width:100vw;
    height: 95vh;
    background-color: rgba(255, 255, 255, 0.521);
    color: aliceblue;
    margin-bottom: 10px;
    transition: all .6s ease-out;
   
    
}


.nav-bar{
    top: 0;
    width:100vw;
    height: 6vh;
    font-size: 1.25vh;
    background-color: #ffffff;
    color: rgb(0, 18, 34);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    transition: all .4s ease-out;
    z-index: 1;
    opacity: 100;
}
.nav-bar-txt{
    top: 0;
    width:100vw;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    height: 4vh;
    display: inline-flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    transition: all .4s ease-out;
    z-index: 1;
   
  
}

#top-menu{
  display: inline-flex;
  justify-content: center;
  margin-right: 2vw;
  
}
#top-menu-item{
  margin: auto 1.5wv;
  font-size: 1.75vh;

  
}
#top-menu-item:hover{
  scale: 1.1;
  font-weight: bolder;
  cursor: pointer;
  
}

li{
  list-style-type: none;
  margin-right: 1vw;
 
}



.heading1{
   padding-left: 5vh;
   
}

#text1{
    font-style: italic;

}



#header:hover{
  scale: 1.05;
  cursor: pointer;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


.figure1{
  width:100vw;
  height: 95vh;
  background-color: rgb(0, 0, 0);
  text-align: center;
  vertical-align: middle;
 
}
.figure1-alt{
  visibility: hidden;
}



.jack-image{
  width: 25vh;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
 
  transition: .4s;
  z-index: 1; 
}

.text-two{
  width: 24vh;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  
}

.jack-image:hover {
  cursor: s-resize;
  visibility: hidden;
}

.jack-image-alt{
  display: none;
  visibility: hidden;
}

.text-two-alt{
  display: none;
  visibility: hidden;
}




.text-one{
  font-size: 10vw;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1;
  color: #000000;
}

.text-one-alt{
  display: none;
  visibility: hidden;
  
}



.text-two1{
  width: 24vh;
  
  
}