
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');
*{
  margin: 0%;
  font-family: 'Lato', sans-serif;
  font-style: italic;

}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}




.main-container{
    margin-top: 6vh;
    width:100vw;
    height: 95vh;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    background-color: #000000;
    
  
}
.main-container-alt{
  transition: visibility 0s, opacity 0.5s linear;
  height: 0%;
  display: none;
  visibility: hidden;
}

.jack-container{
  width: 40vw;
  height: 95vh;
}
.jack-container:hover{
  cursor: s-resize;
}

.infinite-scroll{
  width: 30vw;
  height: 95vh;
  color: rgb(0, 0, 0);
  overflow-y: scroll;
 
}



.jack-image{
  width: 25vh;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 5; 
  transition: all .5s ease-out; 
  
}

.jack-image2{
  width: 25vh;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 4; 
  transition: all .5s ease-out; 
}
.jack-image3{
  width: 25vh;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 3;  
  transition: all .5s ease-out; 
  
}
.jack-image4{
  width: 25vh;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 2;  
  transition: all .5s ease-out; 
  
}

.jack-image5{
  width: 90vh;
  position: absolute; 
  top: 68%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1;  
  transition: all .25s ease-out; 
}
.jack-image6{
 visibility: hidden; 
}




.jack-image:hover{
  rotate: 10deg;  
}
.jack-image:hover~ .jack-image2{
  cursor: s-resize;
  rotate: -5deg;
    
}
.jack-image:hover ~.jack-image3{
  rotate: -20deg;  
}

.jack-image:hover ~.jack-image4{
  rotate: -35deg;  
}

.jack-image:hover ~.jack-image5{
  width: 0vh;  
}


.jack-image:hover~.jack-image6{
  width: 70vh;
  position: absolute; 
  top: 60%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1; 
  visibility: visible;
  
}




#glass-like{
background: rgba(255, 255, 255, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.6px);
-webkit-backdrop-filter: blur(0.6px);
border: 1px solid rgba(255, 255, 255, 1);
}




.second-container{
    margin-top: 6vh;
    width:100vw;
    height: 95vh;
    display: inline-flex;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    transition: visibility 0s, opacity 0.5s linear;
  
}


.text-one{
  font-size: 10vw;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 0;
  color: #000000;
   
}
.text-one-alt{
  visibility: hidden;
  display: none;
}







#inf-text {
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}