
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');
*{
  margin: 0%;
  font-family: 'Lato', sans-serif;
  font-style: italic;

}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

body{
  background-color: #000000;
}


.main-container{
  margin-top: 6vh;
  width:100vw;
  height: 96vh;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
   
    
  
}
.main-container-alt{
  transition: visibility 0s, opacity 0.5s linear;
  height: 0%;
  display: none;
  visibility: hidden;
}

#jack-container{
  width: 20vw;
  height: 95vh;
 
}

#jack-container:hover{
  cursor: s-resize;
}

#infinite-scroll{
  width: 30vw;
  height: 100%;
  color: #000000;
  overflow-y: scroll;
 
}



.jack-image{
  width: 25vw;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 5; 
  transition: all .5s ease-out; 
  
}

.jack-image2{
  width: 25vw;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 4; 
  transition: all .6s ease-out; 
}
.jack-image3{
  width: 25vw;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 3;  
  transition: all .7s ease-out; 
  
}
.jack-image4{
  width: 25vw;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 2;  
  transition: all .8s ease-out; 
  
}

.jack-image5{
  width: 25vw;
  position: absolute; 
  top: 70%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1;  
  transition: all .25s ease-out; 
}




.jack-image:hover{
  rotate: 10deg;  
}
.jack-image:hover~ .jack-image2{
  cursor: s-resize;
  rotate: -5deg;
    
}
.jack-image:hover ~.jack-image3{
  rotate: -20deg;  
}

.jack-image:hover ~.jack-image4{
  rotate: -35deg;  
}

.jack-image:hover ~.jack-image5{
  width: 0vh;  
}


.jack-image:hover~.jack-image6{
  width: 25vw;
  position: absolute; 
  top: 60%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1; 
  visibility: visible;
  
}




#glass-like{
background: rgba(255, 255, 255, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.6px);
-webkit-backdrop-filter: blur(0.6px);
border: 1px solid rgba(255, 255, 255, 1);
}





#inf-text {
  height: 2000px;
  color: black;
}
