
.nav-bar{
top: 0;
width:100vw;
height: 6vh;
font-size: 1.25vh;
background-color: #ffffff;
color: rgb(0, 18, 34);
position: fixed;
opacity: 100;
transition: all .7s ease-out; 
box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.6px);
-webkit-backdrop-filter: blur(0.6px);
border: 1px solid rgba(255, 255, 255, 1);
animation: nav-bar-appear 3s forwards normal;
overflow: hidden;
}
@keyframes nav-bar-appear{
  0%{
    background-color: #000000;
  }
  100%{
    background-color: #ffffff;
  }
}

.header-visible-section{
  width: 100%;
  height: 6vh;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}


.nav-bar-txt{
  top: 0;
  width:100vw;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  height: 5vh;
  position: fixed;
  transition: all 1s ease-out;
  overflow: hidden; 
}
.nav-bar-txt:hover{
  top: 1.5vh;
  width:90vw;
  height: 25vh;
  display:inline-block;
  margin-left: 5vw;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.586);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.606);
  z-index: 10;
  transition: all .5s ease-out; 
  overflow:visible;
  padding: 10px 10px 10px 10px;
}

.sections-menu{
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  z-index: 11;
 }

#menu-icon{
  width: 2vw;
}

#hidden-menu-item{
  display: block;
  border-radius: 2px;
  width: 12.5vw;
  height: auto;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  text-align: center;
  padding-top: 1vh;
  font-size: 1.0vh;
  transition: .6s ease-out;
}
#hidden-menu-item:hover {
  box-shadow: rgba(245, 245, 245, 0.7) 0 0px 0px 40px inset;
  scale: 1.35;
}


.projects-title{
  width: 60%;
  height: 3vh;
  border: 1px solid #ffffff;
  text-align: center;
  color: #fff;
  font-size: 1.0vh;
  margin-left: 6%;
  border-radius: 5px;
  margin-bottom: 2%;
  padding-top: .23%;
}



#top-menu{
  display: inline-flex;
  justify-content: center;
  margin-right: 2vw;
}

#top-menu-item{
  margin: auto 1.5wv;
  font-size: 1.75vh;
  margin: 5px;  
  transition: .6s;
  
}
#top-menu-item:hover{
  scale: 1.1;
  cursor: pointer;
  transition: .6s;
}

li{
  list-style-type: none;
  margin-right: 1vw;
}


.heading1{
  padding-left: 5vh;
  font-style: italic;
  transition: all .7s ease-out; 
 }
 
 #text1{
  font-style: italic;
 }
 

 #header:hover{
  scale: 1.05;
  cursor: pointer;
 }


/* CSS for Menu Sytle One */
 .menu{
  visibility: visible;
 }
 .menu-alt{
  visibility: hidden;
  display: none;
 }


.menu-one{
  color: aqua;
}
.menu-one-alt{
  visibility: hidden;
}

 .menu-two{
  visibility: visible;
  display: block;
  padding-right: 5vw;
 }

 .menu-two-alt{
  visibility: hidden;
  display: none;
 }


 