.nav-bar{
    top: 0;
    width:100vw;
    height: 6vh;
    font-size: 1.25vh;
    background-color: #ffffff;
    color: rgb(0, 18, 34);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    opacity: 100;
    transition: all .7s ease-out; 
    background-color: aliceblue;
    border-radius: 1px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.6px);
    -webkit-backdrop-filter: blur(0.6px);
    border: 1px solid rgba(255, 255, 255, 1);
}
.nav-bar-txt{
    top: 0;
    width:100vw;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 4vh;
    display: inline-flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    transition: all 1s ease-out; 
}




.nav-bar-txt:hover ~.menu{
  background-color: aquamarine;
  height: 4vh;
  display: inline-flex;
 }

.nav-bar-txt:hover{
  top: 1.5vh;
  width:90vw;
  margin-left: 5vw;
  height: 9vh;
  transition: all .45s ease-out; 
  border-radius: 1vw;
  background: rgba(0, 0, 0, 0.818);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(21.2px);
}




#top-menu{
  display: inline-flex;
  justify-content: center;
  margin-right: 2vw;
  
}

#top-menu-item{
  margin: auto 1.5wv;
  font-family: 'Lato', sans-serif;
  font-size: 1.75vh;  
  
}
#top-menu-item:hover{
  scale: 1.1;
  font-weight: bolder;
  cursor: pointer;
}

li{
  list-style-type: none;
  margin-right: 1vw;
 
}


.heading1{
    padding-left: 5vh;
     font-family: 'Lato', sans-serif;
     font-style: italic;
 }
 
 #text1{
     font-family: 'Lato', sans-serif;
     font-style: italic;
 
 }
 

 #header:hover{
   scale: 1.05;
   cursor: pointer;
 }