.second-container{
    width:100vw;
    min-height: 40vh;
    display: grid;
    place-content: center;
    background-color:rgb(255, 255, 255);
    color: #000000;
    transition: visibility 0s, opacity 0.5s linear;
    overflow-y: scroll;
  }
  

.greeting-container{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  overflow: hidden;
  height: auto;
 }


.text-one{
  margin-top: 10vh;
  font-size: 6vh;
  color: #000000;

}
.text-one-alt{
  visibility: hidden;
  display: none;
}
  


.center-text{
  text-align: justify;
  
  
}
#center-text{
  padding-top: 5vh;
  padding-left: 15vw;
  padding-right: 15vw;
  font-size: 2.25vh;
}
