.second-container{
    width:100vw;
    height: 99vh;
    display: grid;
    place-content: center;
    background-color:aliceblue;
    color: #000000;
    transition: visibility 0s, opacity 0.5s linear;
  }

  .second-container1{
    width:100vw;
    height: 95vh;
    display: grid;
    place-content: center;
    background-color:azure;
    color: #000000;
    transition: visibility 0s, opacity 0.5s linear;
  }
  
  .jacks{
    display: flex;
    place-content: center;
    padding-left: 6vw;
    padding-right: 10vw;
    padding: 5vh;
    
    
 }




  .text-one{
    font-size: 10vh;
    color: #000000;  
    
  }
  .text-one-alt{
    visibility: hidden;
    display: none;
  }
  



  .jack-image-section2{
    width: 15vw;
    min-width: 190px;
    transition: all 1s ease-out;
    margin-left: 2vw;
    margin-right: 2vw;
    transition: ease-out 3s;
    -webkit-animation: cssAnimation 3s forwards; 
    animation: cssAnimation 3s forwards;
   
  }


  

  #image1:hover{
    scale: 1.1;
  }