/* about section */
.heading {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 70px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 72px;
  margin-bottom: 20px;
}

/* margin-top: 0;
      margin-bottom: 20px;
    }
    */

.viPlay {
  width: 100%;
  filter: grayscale(1);
}
.head {
  text-align: center;
  position: relative;
}

.subhead {
  text-transform: uppercase;
  border-bottom: 2px solid #2f2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.subhead img {
  width: 30px;
}

.content {
  font-size: 0;
  line-height: 0;
  word-spacing: -0.31em;
  display: inline-block;
  margin: 30px 2% 0 2%;
}

.collumn p {
  text-align: justify;
  line-break: auto;
}
.collumn {
  font-size: 14px;
  line-height: 20px;
  width: 17.5%;
  display: inline-block;
  padding: 0 1% 0 1%;
  vertical-align: top;
  transition: all 0.7s;
  margin-bottom: 50px;
}

.collumn + .collumn {
  border-left: 1px solid #2f2f2f;
}
.collumn .headline {
  text-align: center;
  line-height: normal;
  font-family: "Playfair Display", serif;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl1 {
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl2 {
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl2:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl2:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 13px;
  display: block;
  margin: 0 auto;
}

.collumn .headline.hl3 {
  font-weight: 400;
  font-style: italic;
  font-size: 36px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl4 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl4:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl4:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
}

.collumn .headline.hl5 {
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
  font-style: italic;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl6 {
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl6:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl6:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl7 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  display: block;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl8 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl9 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl10 {
  font-weight: 700;
  font-size: 10px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.collumn table {
  border-collapse: collapse;
  margin: auto;
}

#middleRow {
  background-color: gray;
  font-size: large;
  font-weight: 900;
  border-radius: 20px;
  color: #f9f7f1;
}

/* contact section */

.offcanvas {
  text-align: center;
  /* background-image: linear-gradient(to bottom, #00b09b, #96c93d); */
  background: radial-gradient(
      178.94% 106.41% at 26.42% 106.41%,
      #fff7b1 0%,
      rgba(255, 255, 255, 0) 71.88%
    )
    #ffffff;
  border-radius: 10px;
  /* margin-right: 26%; */
}
.socials img {
  width: 60px;
  filter: grayscale(0.5) invert(1) brightness(0.5);
  transition: 0.5s;
}
.socials img:hover {
  filter: none;
  transform: scale(1.1);
  cursor: pointer;
}

.textone {
  word-break: break-all;
  font-weight: 800;
  font-size: 40px;
  line-height: 135%;
  color: rgba(87, 77, 51, 0.9);
}

.texttwo {
  font-weight: 700;
  font-size: 20px;
  line-height: 134.49%;
  color: rgba(87, 77, 51, 0.66);
}

.modal-content {
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}
/* .image-container{
    
  
  } */

.image-one {
  padding: 5px;
  width: 60%;
  min-width: 400px;
  opacity: 97%;
  line-height: 28px;
  border: 2px solid transparent;
  outline: none;
  background-color: #ffffff;
  color: #0d0c22;
  transition: 0.3s ease;
  border-radius: 25px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  animation: slideup 3s forwards 0.3s;
  z-index: -10;
  opacity: 0;
}

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}

.intro-text-one {
  margin-top: 15%;
  margin-bottom: 50px;
  text-align: center;
  z-index: 2;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

#jack-one {
  /* size */
  width: 10vw;
  min-width: 140px;
  /* looks */
  position: absolute;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 0.75vw;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.6px);
  -webkit-backdrop-filter: blur(0.6px);
  border: 1px solid rgba(255, 255, 255, 1);
  transition: 2s;
}

.navbar .nav-item {
  padding: 0px 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s ease;
  margin-left: 10px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 12.5px;
  font-weight: 600;
}

.navbar .nav-item:hover {
  scale: 1.15;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.48);
}

.loader {
  position: fixed;
  perspective: 600px;
  width: 100px;
  height: 100px;
  top: 40%;
  left: 40%;
  z-index: -10;
  opacity: 30%;
}

.cube {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate 7s linear infinite;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border: 0.5px solid #000000;
}

.face:nth-child(1) {
  transform: rotateX(90deg) translateZ(50px);
}

.face:nth-child(2) {
  transform: rotateX(-90deg) translateZ(50px);
}

.face:nth-child(3) {
  transform: translateZ(50px);
}

.face:nth-child(4) {
  transform: rotateY(90deg) translateZ(50px);
}

.face:nth-child(5) {
  transform: rotateY(-90deg) translateZ(50px);
}

.face:nth-child(6) {
  transform: rotateY(180deg) translateZ(50px);
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.main {
  font-family: "Fira Code", monospace;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transform: rotate(0deg) scale(3);
}

/* machines */
.machine-container {
  margin-top: 1%;
  display: flex;
  animation: slide-left 30s linear infinite;
}

@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.item {
  background-color: rgb(255, 255, 255);
  z-index: 0;
  margin-left: 40px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  /* background:rgb(255, 196, 0); */
  transition: 2s;
  border-radius: 15px;
  display: grid;
  opacity: 80%;
}
.item:hover {
  background-color: #4d5154;
  box-shadow: 0px 15px 20px #4d51546f;
  color: #fff;
  transform: translateY(-2px);
  transition: 0.1s;
  opacity: 100%;
  font-weight: bolder;
}

#content img {
  border-radius: 20px;
  filter: brightness(0.9);
}
#image-dmg-mill {
  border-radius: 10px;
  width: 300px;
  z-index: 0;
}

#image-dmg-lathe {
  border-radius: 10px;
  width: 425px;
  z-index: 0;
}

#image-hplus {
  width: 240px;
  border-radius: 10px;
}

#image-tue {
  width: 240px;
  border-radius: 10px;
}

#image-fadal {
  border-radius: 10px;
  width: 300px;
}
#image-tss {
  border-radius: 10px;
  width: 305px;
}

#about-section-text {
  font-size: 70px;
  color: #000000;
}

.machineName {
  --rem: 16;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bolder;
  opacity: 0.8;
  align-self: end;
}
.machineInfo {
  --rem: 16;
  font-size: 12px;
  opacity: 0.8;
  line-height: 16px;
  padding-top: 5px;
  font-weight: 300;
  text-align: justify;
  align-self: center;
}

.machineLink {
  --rem: 16;
  box-sizing: border-box;
  z-index: 1;
  display: inline-block;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 0.95;
  background: none;
  outline: none;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  margin-top: 30px;
  align-self: end;
}

.machineLink:hover {
  background: #e5e5e5;
  color: #000000;
}

footer {
  background: #000;
  text-align: center;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
  width: 100%;
  overflow-x: hidden;
}

/* footer */
footer ul li {
  display: inline-block;
  margin: 0px 30px;
  transition: 0.4s ease-out;
}

footer li:hover {
  color: rgba(240, 248, 255, 0.91);
  cursor: pointer;
}
.name {
  padding: 1%;
  display: inline-flex;
}

.name img {
  filter: grayscale(1);
  width: 35px;
}

/* footerEnd */

.gcont img {
  width: 75px;
  margin: 15% 5%;
  animation: 2s blink infinite;
  border-radius: 8px;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
