#moving-text {
  position: absolute;
  background-color: #d7d938;
  color: #d7d938;
  top: 100px;
  cursor: alias;
  z-index: 1;
}

#earth {
  position: absolute;
  z-index: 1;
  transition: 3s;
}
#earth img {
  width: 2vw;
}
.circle {
  position: absolute;
  top: 10%;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  transition: 2.6s;
  z-index: 1;
}

.circle {
  opacity: 1;
  box-shadow: inset 0 0 30px #fff, inset 20px 0 30px #d7d938,
    inset -20px 0 30px #ff3407, inset 4px 7px 300px #ff0c00,
    inset -20px 0 300px #feff88, 0 0 50px #fff, -10px 0 80px #f0f,
    10px 0 80px #0ff;
  animation: flickerOrb 5s infinite;
}

.circle.yel {
  box-shadow: inset 0 0 30px 0 #fff, inset 20px 0 30px #ffd400,
    inset -20px 0 30px red, inset 20px 0 300px #ff40d6,
    inset -20px 0 300px #e3ff4b, 0 0 50px #fff, -10px 0 100px #fbff00,
    10px 0 80px #f55;
}

.circle.glow {
  box-shadow: inset 0 0 30px #fff, inset 20px 0 30px #f0f,
    inset -20px 0 30px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
    0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
}

@keyframes flickerOrb {
  0% {
    opacity: 0.4;
  }

  5% {
    opacity: 0.5;
  }

  10% {
    opacity: 0.6;
  }

  15% {
    opacity: 0.85;
  }

  25% {
    opacity: 0.5;
  }

  30% {
    opacity: 1;
  }

  35% {
    opacity: 0.1;
  }

  40% {
    opacity: 0.25;
  }

  45% {
    opacity: 0.5;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 0.85;
  }

  80% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flickerBG {
  0% {
    opacity: 0.2;
  }

  5% {
    opacity: 0.25;
  }

  10% {
    opacity: 0.3;
  }

  15% {
    opacity: 0.425;
  }

  25% {
    opacity: 0.25;
  }

  30% {
    opacity: 0.5;
  }

  35% {
    opacity: 0.05;
  }

  40% {
    opacity: 0.125;
  }

  45% {
    opacity: 0.25;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.425;
  }

  80% {
    opacity: 0.2;
  }

  90% {
    opacity: 0.25;
  }

  100% {
    opacity: 0.3;
  }
}
