.card-cover {
  /* transform: rotateY(50deg) skew(1deg); */
  filter: grayscale(.3) brightness(.7);
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-cover:hover {
  transform: rotate(0deg);
  filter: none;
  cursor: context-menu;
}
.card-cover h3 {
  -webkit-text-stroke: 1px black;
  font-size: xx-large;
  visibility: hidden;
}

.the-cord {
  font: 70px/1 "Playfair Display SC";
  text-align: center;
  @media (min-width: 700px) {
    font: 90px/1 "Playfair Display SC";
  }
}


.badge{
    margin: 20px;
    background-color: transparent;
}
.badge1 img{
    width: 30%;
}

.list-cont li:nth-child(2n){
    margin-left: 20%;
}
.list-cont li:nth-child(2n+1){
margin-right: 20%;
}

#nameLetter img{
  width: 50px;
  filter: invert(1) grayscale(1);
}

.bot{
  position: absolute;
  transition: 10s;
}

#image img{
  filter: brightness(.9);
  animation: slide_top .6s forwards;
}

@keyframes slide_top {
  from{
    filter: brightness(.6);
    transform: translateY(25%) scale(80%);
    opacity: 0;
  }to{
    transform: translateY(0px);
    opacity: 100;
  }
}
#jack-one {
  /* size */
  width: 10vw;
  min-width: 140px;
  /* looks */
  position: absolute;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 0.75vw;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.6px);
  -webkit-backdrop-filter: blur(0.6px);
  border: 1px solid rgba(255, 255, 255, 1);
  transition: 2s;
}