/* about section */
.heading {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 70px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 72px;
  margin-bottom: 20px;
}

/* margin-top: 0;
      margin-bottom: 20px;
    }
    */

.viPlay {
  width: 100%;
  filter: grayscale(1);
}
.head {
  text-align: center;
  position: relative;
}

.subhead {
  text-transform: uppercase;
  border-bottom: 2px solid #2f2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.subhead img {
  width: 30px;
}

.content {
  font-size: 0;
  line-height: 0;
  word-spacing: -0.31em;
  display: inline-block;
  margin: 30px 2% 0 2%;
}

.collumn p {
  text-align: justify;
  line-break: auto;
}
.collumn {
  font-size: 14px;
  line-height: 20px;
  width: 17.5%;
  display: inline-block;
  padding: 0 1% 0 1%;
  vertical-align: top;
  transition: all 0.7s;
  margin-bottom: 50px;
}

.collumn + .collumn {
  border-left: 1px solid #2f2f2f;
}
.collumn .headline {
  text-align: center;
  line-height: normal;
  font-family: "Playfair Display", serif;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl1 {
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl2 {
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.collumn .headline.hl2:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl2:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 13px;
  display: block;
  margin: 0 auto;
}

.collumn .headline.hl3 {
  font-weight: 400;
  font-style: italic;
  font-size: 36px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl4 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl4:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl4:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
}

.collumn .headline.hl5 {
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
  font-style: italic;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl6 {
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl6:before {
  border-top: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 7px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl6:after {
  border-bottom: 1px solid #2f2f2f;
  content: "";
  width: 100px;
  height: 10px;
  display: block;
  margin: 0 auto;
}
.collumn .headline.hl7 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  display: block;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl8 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl9 {
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}
.collumn .headline.hl10 {
  font-weight: 700;
  font-size: 10px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.collumn table {
  border-collapse: collapse;
  margin: auto;
}

#middleRow {
  background-color: gray;
  font-size: large;
  font-weight: 900;
  border-radius: 20px;
  color: #f9f7f1;
}

/* contact section */

.offcanvas {
  text-align: center;
  /* background-image: linear-gradient(to bottom, #00b09b, #96c93d); */
  background: radial-gradient(
      178.94% 106.41% at 26.42% 106.41%,
      #fff7b1 0%,
      rgba(255, 255, 255, 0) 71.88%
    )
    #ffffff;
  border-radius: 10px;
  /* margin-right: 26%; */
}
.socials img {
  width: 60px;
  filter: grayscale(0.5) invert(1) brightness(0.5);
  transition: 0.5s;
}
.socials img:hover {
  filter: none;
  transform: scale(1.1);
  cursor: pointer;
}

.textone {
  word-break: break-all;
  font-weight: 800;
  font-size: 40px;
  line-height: 135%;
  color: rgba(87, 77, 51, 0.9);
}

.texttwo {
  font-weight: 700;
  font-size: 20px;
  line-height: 134.49%;
  color: rgba(87, 77, 51, 0.66);
}

.modal-content {
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}
/* .image-container{
    
  
  } */

.image-one {
  padding: 5px;
  width: 50%;
  min-width: 600px;
  opacity: 97%;
  line-height: 28px;
  border: 2px solid transparent;
  outline: none;
  background-color: #ffffff;
  color: #0d0c22;
  transition: 0.3s ease;
  border-radius: 25px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  animation: slideup 3s forwards 0.3s;
  z-index: -10;
  opacity: 0;
}

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}



#jack-one {
  /* size */
  width: 10vw;
  min-width: 140px;
  /* looks */
  position: absolute;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 0.75vw;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.6px);
  -webkit-backdrop-filter: blur(0.6px);
  border: 1px solid rgba(255, 255, 255, 1);
  transition: 2s;
}



.loader {
  position: fixed;
  perspective: 600px;
  width: 100px;
  height: 100px;
  top: 40%;
  left: 40%;
  z-index: -10;
  opacity: 30%;
}

.cube {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate 7s linear infinite;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border: 0.5px solid #000000;
}

.face:nth-child(1) {
  transform: rotateX(90deg) translateZ(50px);
}

.face:nth-child(2) {
  transform: rotateX(-90deg) translateZ(50px);
}

.face:nth-child(3) {
  transform: translateZ(50px);
}

.face:nth-child(4) {
  transform: rotateY(90deg) translateZ(50px);
}

.face:nth-child(5) {
  transform: rotateY(-90deg) translateZ(50px);
}

.face:nth-child(6) {
  transform: rotateY(180deg) translateZ(50px);
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}


/* machines */
.machine-container {
  margin-top: 1%;
  display: flex;
  animation: slide-left 30s linear infinite;
  gap: 20px;
}

@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}




.name {
  padding: 1%;
  display: inline-flex;
}

.name img {
  filter: grayscale(1);
  width: 35px;
}

/* footerEnd */

