@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0%;
  padding: 0%;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-weight: 500;
  font-style: normal;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color:#e9e4e4;
}
header {
  background: #0073e6;
  color: #c9c5c5;
  padding: 1rem 0;
  text-align: center;
}
main {
  padding: 10px;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  max-width: 850px;
}
h1,
h2,
h3 {
  color: #000000;
}
h2 {
  margin-top: 50px;
}
h3 {
  margin-top: 40px;
}
h5 {
  margin-top: 15px;
}
p {
  text-align: justify;
  font-size: medium;
  margin-top: 10px;
}
svg {
  margin-bottom: 10px;
  border: #c6c6c6 solid;
  max-width: 98%;
}
code,
#index {
  background: #f4f4f4;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 1rem;
}
pre {
  background: #f4f4f4;
  padding: 1rem;
  border-radius: 5px;
  overflow: auto;
  margin-bottom: 1rem;
}
ul,
ol {
  padding-left: 50px;
  margin-bottom: 20px;
}
li {
  margin: 0%;
}
footer {
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;

}
a {
  color: #003de6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
