 .u-section-1 {
  background-image: url("https://assets.nicepagecdn.com/251b5483/3658159/images/pexels-dan-cristian-pAdureE-1476321.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 652px;
}

.u-section-1 .u-text-1 {
  animation-timing-function: ease-in-out;
  background-image: none;
  margin: 247px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 309px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 195px;
  }
}